@import (reference) '../../less/variables.less';

div.team {
	span.name {
		display: block;
		color: @dark;
		min-width: 11.508666667em;
		max-width: ~'calc(100% - 2em)';
		padding: 0.25em 0.75em;
		background-color: @light;
		border-top: 7px solid @medium;
		font-size: 2.25em;
		font-weight: @fontWeightLight;
		text-align: center;
		box-sizing: border-box;
	}
}
