@import (reference) './variables.less';

@keyframes spinning {
	from {
		transform: rotate(0deg) translateZ(0);
	}
	to {
		transform: rotate(360deg) translateZ(0);
	}
}

html {
	font-family: @fontFamily;
	font-size: @fontSize;
	font-weight: @fontWeightRegular;
}

body {
	margin: 0;
	background-color: @dark;
}

div#app {
	min-height: 100vh;
	text-align: center;

	>div {
		display: inline-flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding-top: 3.75em;

		a#military {
			display: inline-block;
			position: fixed;
			top: 0.5em;
			right: 0.5em;
			color: @lightMedium;
			width: 1.5em;
			padding: 0.5em;
			border: 1px solid @medium;
			font-size: 0.875em;
			cursor: pointer;
		}
	}
}

div#loading {
	position: fixed;
	top: ~'calc(50% - 1em)';
	left: ~'calc(50% - 1em)';
	width: 2em;
	height: 2em;
	background-color: @darkMedium;
	border-top-right-radius: 25%;
	border-bottom-left-radius: 25%;
	border: 2px solid @medium;
	box-sizing: border-box;
	animation: spinning 1s ease infinite;
}
