@white: #fff;
@light: #eee;
@lightMedium: darken(@white, 25%);
@medium: darken(@white, 50%);
@dark: #222;
@darkMedium: lighten(@dark, 10%);

@banner: @darkMedium;
@blueBanner: #0f4bcb;

@fontFamily: 'Roboto', sans-serif;
@fontSize: 20px;
@fontWeightThin: 100;
@fontWeightLight: 200;
@fontWeightRegular: 300;
@fontWeightMedium: 400;
@fontWeightBold: 700;
